@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Blog/blog.min.css" rel="stylesheet" />

<div class="text-center" id="blog-title">
    <h1 class="display-4">ProgressiveWebAppBlog</h1>
    <p>study and share, a learning philosophy</p>
</div>

<div class="alert alert-info show" id="connection-status"></div>

<div class="blog-list card-columns" id="blog-list">
</div>

<div id="blog-item-container"></div>

<div class="create-profile">

    <h2>Como acessar algumas funções Nativas do Celular?</h2>
    <br />        <br />
    <div>
        Camera: <input type="file" accept="image/*" capture="camera" />
        <br />        <br />
    </div>
    <div>
        Gravação: <input type="file" accept="video/*" capture="camcorder">
        <br />        <br />
    </div>
    <div>
        Microfone: <input type="file" accept="audio/*" capture="microphone">
        <br />        <br />
    </div>
    <div>
        <button onclick="getGeolocation();" type="button" class="btn btn-primary" id="address-button">Clique aqui para obter seu Endereço</button>
        <br /><br />
    </div>
    <div>
        <div id="address-found-input" style="display:none;">Cidade/Estado: <input id="address-found" type="text" /></div>
        <br />        <br />
    </div>
    <div>
        <button type="button" id="vibrar-celular" onclick="vibrate();" class="btn btn-primary">Vibrar celular</button>
        <br />        <br />
    </div>
    <div>
        <canvas id="canvas" width="300" height="300" style="border: 1px solid black;"></canvas>
        <div id="rotation-info"></div>
        <br /><br />
    </div>
</div>


<div class="row itemRowPost" id="itemRowPost"></div>

<div class="col-lg-6 itemColPost" id="itemColPost">
    <div class="blog-post-lg bordered blog-container">
        <div class="blog-img-thumb">
            <a href="javascript:;">
                <img src="{{BlogPost.Image}}" />
            </a>
        </div>
        <div class="alert alert-info show" id="connectionstatus"></div>
        <div class="blog-post-content">
            <h2 class="blog-title blog-post-title">
                <a href="javascript:;">{{BlogPost.Title}}</a>
            </h2>
            <p class="blog-post-desc">
                {{BlogPost.PrevDescription}}
            </p>
            <div class="blog-post-foot">
                <div class="blog-post-meta">
                    <i class="icon-calendar font-blue"></i>
                    <a href="javascript:;">{{BlogPost.Date}}</a>
                </div>
                <div class="blog-post-meta">
                    <i class="icon-bubble font-blue"></i>
                    <a href="javascript:;">{{BlogPost.CountComent}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="blog-content-not-found"
        type="text/template">
    <h1>
        Ups, artigo não está no Cache!
    </h1>
    <div>
        Você quer que a gente continue tentando fazer
        download do artigo em plano de fundo e te avise quando
        estiver disponível?
    </div>
    <br />
    <button class="btn btn-success">Sim!</button>
</script>
<script id="blog-content-not-found" type="text/template">
    <h1>
        Ups, artigo não está no Cache!
    </h1>
    <div>
        Você quer que a gente continue tentando fazer download do
        artigo
        em plano de fundo e te avise quando estiver disponível?
    </div>
    <br />
    <button class="btn btn-primary download-start"
            onclick="pageEvents.setBackgroundFetch('{{Link}}');">
        Sim!
    </button>
    <br />
    <br />
    <div id="status-download" style="display:none;">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:
0%"></div>
        </div>
        <div class="text-success">
            <p>pronto!</p>
            <button class="btn btn-success"
                    onclick="pageEvents.loadBlogPost('{{Link}}');">
                ler!
            </button>
        </div>
    </div>
</script>

<!-- END CONTENT BODY -->
