
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link href="~/css/Blog/blog.min.css" rel="stylesheet" />

<!-- END PAGE HEADER-->


<div class="blog-page blog-content-1 blog-list" id="blog-list">
    
</div>
<!-- END CONTENT BODY -->


<div class="row itemRowPost" id="itemRowPost"></div>

<div class="col-lg-6 itemColPost" id="itemColPost">
    <div class="blog-post-lg bordered blog-container">
        <div class="blog-img-thumb">
            <a href="javascript:;">
                <img src="{{BlogPost.Image}}" />
            </a>
        </div>
        <div class="alert alert-info show" id="connectionstatus"></div>
        <div class="blog-post-content">
            <h2 class="blog-title blog-post-title">
                <a href="javascript:;">{{BlogPost.Title}}</a>
            </h2>
            <p class="blog-post-desc">
                {{BlogPost.PrevDescription}}
            </p>
            <div class="blog-post-foot">
                <div class="blog-post-meta">
                    <i class="icon-calendar font-blue"></i>
                    <a href="javascript:;">{{BlogPost.Date}}</a>
                </div>
                <div class="blog-post-meta">
                    <i class="icon-bubble font-blue"></i>
                    <a href="javascript:;">{{BlogPost.CountComent}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

